@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #34495e;
  font-family: "Poppins", sans-serif;
}

.text {
  font-size: 4.3em;
  color: #f1f1f1;
  font-weight: 500;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 14px;
  background-color: #e74c3c;
  border-radius: 10px;
  bottom: -10px;
  left: -50px;
  -webkit-animation: trans 1.1s linear infinite;
  animation: trans 1.1s linear infinite;
}

@-webkit-keyframes trans {
  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;

    left: calc(100% + 10px);
  }
}

@keyframes trans {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    left: calc(100% + 10px);
  }
}

.text span {
  display: inline-block;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-animation: wave 1.1s ease-in-out infinite;
  animation: wave 1.1s ease-in-out infinite;
}

.text span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.text span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.text span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.text span:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.text span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.text span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.text span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

@keyframes wave {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

@media screen and (max-width: 668px) {
  .text {
    font-size: 2em;
  }
  .text::after {
    height: 5px;
    width: 30px;
    left: -20px;
    -webkit-animation: trans 1s linear infinite;
    animation: trans 1s linear infinite;
  }
}
